
/* ===================== Font used ==================*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
html{scroll-behavior: smooth;}
body, html{margin: 0px;padding: 0px;font-family: 'Montserrat', sans-serif;font-size:14px;color:#2a3548;background-color: #f0f2f5;}
* {margin: 0;padding: 0;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box; outline:none;}
aside, details, figcaption, figure, ins, summary, mark, title, video, footer, header, hgroup, nav, section, article{display: block;}
.clear {padding: 0;margin: 0;line-height: 0;height: 0;font-size: 0;clear: both;width: 100%;display: block;}
h1, h2, h3, h4, h5, h6 {padding: 0;margin: 0;}
html, body {padding: 0;margin: 0;height:100%;}
body * {box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}
ul, ul li {list-style: none;padding: 0;margin: 0;}
input, button {outline: none;border: none;box-shadow:none;}
a, a:hover, a:focus {text-decoration: none;outline: none;transition: all 0.5s;-webkit-transition: all 0.5s;-moz-transition: all 0.5s; color: rgb(29, 155, 240);}
a:active, a:hover {outline: 0;}
button {transition: all 0.5s;-webkit-transition: all 0.5s;-moz-transition: all 0.5s;outline:none;border:none;outline:none;}
:focus {outline: none;border:none;}
button:focus{outline:none;}
img {border: none;}
p{margin:0;padding:0;}
figure{margin:0;}

/* ===================== Placeholder ==================*/
input::placeholder{opacity:1;}
input::-webkit-input-placeholder {opacity:1;}
input::-moz-placeholder {opacity:1;}
input:-ms-input-placeholder {opacity:1;}
input:-moz-placeholder {opacity:1;}
body .container{min-width: 1250px;}
header{background-color: #fff; padding: 8px 0;min-height: 56px; box-shadow: 0 0 8px #ccc;}
.bellMsg{display:flex;justify-content: end;}
.bellMsg li{display: inline-block;}
.bellMsg li a{color: #242526;font-size: 20px; margin-left: 20px;}
.logo{font-size: 20px;color: #242526;font-weight: bold;}
.fixed-header {position: fixed;top: 0;left: 0;width: 100%; z-index: 1; transition: all 0.5s;}
.sidebarMenu{padding: 0;}
.sidebarMenu li{display: block;}
.sidebarMenu li a{font-size:16px;color: #000;font-weight:400;display: inline-block;padding:12px 18px;border-radius:35px; }
.sidebarMenu li a i{width:28px;font-size: 18px;}
.sidebarMenu li a:hover{background:#fcca7e}
.userName{margin-top:20px;}
.userName a{display: flex;padding: 12px 18px; border-radius:40px;}
.userName h3{font-size: 15px;font-weight: 600; color: #000;}
.userName p{color: #333;}
.userName img{width: 40px; height: 40ox;object-fit: cover;border-radius: 50%; margin-right: 15px;}
.userName a:hover{background: #fcca7e;}

.mainSection{padding:25px 0;}
.mainCenter{background: #fff;height:100%;}
.comtBox{padding: 20px;border-bottom: 1px solid #ccc;}
.comtBox figure,.comtBox figure img{width:40px;height:40px;border-radius: 50%; margin-right:15px;flex: 0 0 auto;}
.comtBox textarea{border: none; height:23px; width:100%;resize: none; }
.comtBox a{  background-color: rgb(29, 155, 240);padding: 7px 15px;display: inline-block;height: fit-content;border-radius: 25px;color: #fff;line-height: normal;position: absolute;right: 43px;top: 26px;}
.navtop{margin:10px 0;}
.tab-content {padding:15px 0;}
.socialFeed{padding: 0 20px;}
.mainCenter .navtop li{flex: inherit;margin-right: 0px;}
.mainCenter .navtop li:first-child a{padding-left: 0;}
.mainCenter .navtop li a{padding:0 18px; background-color:#fff; color: #333;font-size:14px;font-weight: 500;}
.mainCenter .navtop li a.active{background-color:none !important; color: rgb(253, 124, 54);}
.userImage img{width:40px;height:40px;border-radius: 50%; margin-right:15px;}
.userImage {flex: 0 0 auto;}
.userDetail h4{font-size: 15px;font-weight:600;color: #000; margin-bottom: 5px;}
.userDetail h4 span{color: #929292; font-weight: 500; font-size: 13px;}
.postImg{}
.postImg img{border-radius:10px; margin: 15px 0;}
.shareList{padding:0; display: flex; justify-content: space-between; align-items: center;}
.shareList li{display: inline-block;}
.shareList li a{color: rgb(135, 134, 134);}
.shareList li a span{display: inline-block;padding-left: 10px;}
.shareList li a i{background-color: #e1eef6;width:30px;height:30px;border-radius: 50%;text-align: center;line-height: 30px; color: #1d9bf0;}
.dropDown{position: absolute;right: 0;top: 0;}
.dropDown a{color: #333;}

.forTo{font-size: 15px;font-weight:500; margin-bottom: 15px;color: #000;}
.forTo span{font-weight:400;color: #979797;font-size: 14px;}
.forTo a{text-decoration: underline;}

.morOpt{position: absolute; right: 13px;top: 22px;}
.morOpt .dropdown-menu {right: -22px; width:250px; border:0px; border-radius:0px; left: auto;}
.morOpt .dropdown-menu a {display: block;padding: 10px 10px; font-weight: 400; color: #666;}
.morOpt .dropdown-menu a:hover{ color:#467bdd;}
.morOpt .dropdown-menu a + a {border-top: 1px solid #ccc;}
/* .leftSidebar{ width: 300px;display: table-cell; background: #fff; box-shadow:3px 0 8px -3px #dbe2ea; padding: 30px 0;} */
.rightSidebar {padding: 50px; width: 78.9%; display: table-cell;}
.menu-btn {display: none;}
.leftSidebar{position: sticky; top: 66px; transition: all 0.5s;}

/*--------- Login Page ----------------------*/
.loginPage{padding: 70px 0; height: 100%;}
.loginPage .container, .loginPage .container .loginBox{height: 100%;}
.loginBg{background-color: rgb(29, 155, 240);}
.loginBg label {flex: 0 0 auto;width: 100%;font-weight: 500;font-size: 14px;}
.user_card {height:auto;width: 350px;margin-top: auto;margin-bottom: auto;background:rgb(255, 255, 255);position: relative;display: flex;justify-content: center;flex-direction: column;padding:30px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);border-radius: 5px;}
.brand_logo_container {position: absolute;height: 170px;width: 170px;top: -75px;border-radius: 50%;background:rgb(29, 155, 240);padding: 10px;text-align: center;}
.brand_logo {height: 150px;width: 150px;border-radius: 50%;border: 2px solid white;}
.form_container {margin-top: 100px;}
.login_btn {width:auto;padding: 7px 20px;background:rgb(29, 155, 240);color: white !important;}
.login_btn:hover{background-color: rgb(253, 124, 54);}
.login_btn:focus {box-shadow: none !important;outline: 0px !important;}
.login_container {padding: 0 2rem;}
.input-group-text {width:35px;background:rgb(29, 155, 240);color: white !important;border: 0 !important;border-radius: 0.25rem 0 0 0.25rem !important;}
.input_user,
.input_pass:focus {box-shadow: none !important;outline: 0px !important;}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {background-color: #c0392b !important;}
/*--------- Choose Submit Page ----------------------*/
.choose{padding: 20px;}
.choose h2{font-size: 20px;font-weight:600;margin-bottom:40px; margin-top: 40px;}
.choose select{border: 1px solid #ccc; height: 40px;border-radius: 5px;}
.choose input{border: 1px solid #ccc; height: 40px;border-radius: 5px;}
.choose button{width:auto;padding: 7px 20px;background:rgb(29, 155, 240);color: white !important;}
.choose button:hover{background-color: rgb(253, 124, 54);}
/*--------- Choose Submisson Type Page ----------------------*/
.submissionBtn{ display: flex; justify-content: space-between; margin-top: 25px;}
.submissionBtn li{display: block;}
.submissionBtn li a{display: block;width:auto;padding: 7px 20px;background:rgb(29, 155, 240);color: white !important;border-radius: 5px;}
.submissionBtn li a:hover{background-color: rgb(253, 124, 54);}
.alrtMsg{font-size: 12px;color:  rgb(253, 124, 54);font-style: italic; margin-top: 5px;}

.choose table tr td,.choose table tr th{font-size: 13px; padding: 4px 12px;}
.orTitle{font-size:17px; margin-bottom: 10px;}
.brd{border-bottom:4px solid #ccc;margin-bottom:25px;}
.callIcon a{width:25px;height:25px;border-radius: 5px;background-color:rgb(29, 155, 240);color: #fff;display: inline-block;font-size:12px;line-height:26px;margin-right: 5px;}
.callIcon a:hover{background-color: rgb(253, 124, 54); color: #fff;}

.follingList ul{padding: 0;}
.follingList .followUser{display: flex; align-items: center; justify-content: space-between; font-size:16px;font-weight: 600;position: relative; border-bottom:1px solid #ccc;padding: 15px 0;}
.follingList .followUser img{width:40px;border-radius: 50%;height:40px;margin-right: 10px;}
.follingList .followBtn{width:auto;padding:4px 15px;background:rgb(29, 155, 240);border-radius:5px;font-size: 14px;color: #fff;}
.follingList .followUser a:hover .followDetail{display: block;}
.followDetail{display: none;background-color: #fff;position: absolute;top:70px;z-index: 1;width:70%;left: 0;min-height: 200px;padding: 25px;border-radius:5px;border: 1px solid #ccc;}
.followDetail::before{width: 0;height: 0;border-left: 10px solid transparent;border-right: 10px solid transparent;border-bottom: 11px solid #dedede;content: "";position: absolute;top:-11px;left:10px;}
.followDetail .followName{text-align: left;color: #333;font-size: 15px;font-weight: 500;}
.followDetail .followName span{font-size: 14px;color: #aeaeae;}
.followDetail p{font-weight: normal; margin-top:7px;color: #000; font-size: 13px;}
.followDetail ul{padding:0;border-top: 1px solid #ccc; padding-top: 10px;margin-top: 10px;}
.followDetail ul li{color: #000; text-align: left; font-size: 14px; font-weight: 500;margin-top: 10px;}
.followDetail ul li span{color: #858585;}
.follingList .followUser .followDetail img{width: 30px; height: 30px;}

.personList{padding: 0; margin-bottom:30px;}
.personList li{border-top: 1px solid #ccc; padding: 10px 0;}
.personList li h6{ margin-right: 20px;}
.personList li span{display: inline-block;margin-left:0px;}
.personList li .flwBtn{width:auto;padding:4px 13px;background:rgb(29, 155, 240);border-radius:5px;font-size: 14px;color: #fff;}
.personList li .flwBtn:hover{background-color: rgb(253, 124, 54);}

.address1{border-bottom:5px solid #e3e3e3; padding-bottom: 15px; margin-bottom:30px;}
.address1 ul{padding: 0;}
.address1 ul li{display: flex; margin-bottom:10px;}
.address1 ul li i{color: rgb(253, 124, 54);font-size: 12px; display: contents;}
.address1 ul li span{width: 150px; font-weight:600; flex: 0 0 auto;}
.userImg img{width:100px;height:100px;border-radius: 50%;margin-bottom:20px; }
.address1 ul li img{width:150px;}
.brdNone{border: none;}
.confirmBtn{text-align: right;}
.confirmBtn a{background: #ccc; color: #000; display: inline-block; padding: 5px 20px; font-weight: 500;border-radius:5px;}
.confirmBtn a:hover,.confirmBtn a.active{background:rgb(29, 155, 240);color: #fff;}
.userImg2 {
  position: absolute;
  right: 47px;
  top: 90px;
}
.viewpdf{flex: 0 0 auto; display: contents;}
/*======== Media Queries for Mobile =========*/
@media all and (max-width:1199px){
  body .container{min-width:100%;}
}
@media all and (max-width:991px){
.leftSidebar.fliph {left: 0;width: 300px;}
.leftSidebar {position: fixed;left: -300px;background: #fff;box-shadow: 0px 0px 9px #d1d1d1;top: 0;height: 100%;z-index: 1050;transition: all 0.5s ease-in-out;width: 300px;}
.menu-btn {position: absolute;top: 0px;right: -41px;z-index: 101;display: block;}
.menu-btn a {background: #000;display: block;height: 40px;width: 40px;border: none;padding: 0px;font-size: 24px;color: #fff;text-align: center;line-height: 38px;}
.loginPage{height: auto;padding-top: 100px;}

}
@media all and (max-width:767px){
  .submissionBtn{flex-wrap: wrap;}
  .choose h2{margin:0px 0 15px; font-size: 15px;}
  

}
@media all and (max-width:575px){
.submissionBtn li{width: 100%;text-align: center;margin-bottom: 10px;}
.mainCenter .navtop li a{font-size: 12px; padding: 0 8px;}
.comtBox a{position: relative;right: 0;top: 11px;}
.choose .table{width: 500px;}

}
@media all and (max-width:375px){



}
